@font-face {
  font-family: "Tahoma-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tahoma\ Regular\ font.ttf") format("truetype");
}

@font-face {
  font-family: "Tahoma-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/TAHOMAB0.TTF") format("truetype");
}